:root {
    --white: #fff;
    --cream: #FFFBF8;
    --cream-hover: #f5eae2;
    --cream-pressed: #e9d3c4;
    --beige: #E3AA73;
    --brown-1: #A74A1B;
    --brown-1-hover: #913d13;
    --brown-1-pressed: #77320f;
    --brown-2: #452D20;
    --grey-1: #DEDEDE;
    --grey-2: #ADADAD;
    --grey-3: #585858;
    --black: #303030;
    --error: #E93902;
    --success: #348D3D;
}

/* Classe da fonte Roboto, caso queira utilizar diretamente em um elemento ou copiar informações
100 = Thin; 200 = ExtraLight; 300 = Light; 
400 = Regular; 500 = Medium; SemiBold = 600; 
Bold = 700; Extrabold = 800; Black = 900;
*/
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Classe da fonte Quicksand, caso queira utilizar diretamente em um elemento ou copiar informações
300 = Light; 400 = Regular; 500 = Medium; SemiBold = 600; Bold = 700;
*/
.quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: var(--brown-2);
    text-align: left;
    background-color: var(--cream);
    margin: 0;
    padding: 0px 16px 16px 16px;
}

.button {
    background-color: var(--brown-1);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: var(--cream);

    border: 0;
    border-radius: 4px;
    padding: 0px 20px;
    height: 40px;
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--brown-1-hover);
    cursor: pointer;
}

.button:active {
    background-color: var(--brown-1-pressed);
}

.button-outline {
    background-color: var(--cream);
    border: 2px solid var(--brown-1);
    color: var(--brown-1);
}

.button-outline:hover {
    background-color: var(--cream-hover);
}

.button-outline:active {
    background-color: var(--cream-pressed);
}

input {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    
    background-color: var(--cream);
    border: 2px solid var(--beige);
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 8px;
}

input:hover {
  border-color: var(--brown-1);
}

input:active{
  border-color: var(--brown-1);
}

input::placeholder{
    color: var(--grey-2);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.store-name {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    color: var(--brown-2)
}

.add-product {
    padding: 16px 0px;
    display: flex;
    gap: 8px;
}

#product-name-input {
    width: 100%;
}

#product-quantity-input {
    width: 120px;
}

#product-type-input {
    width: 160px;
}

table {
    border-collapse: collapse;
    width: 100%;
    
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--black);
    text-align: left;
}

th,
td {
    padding: 8px;
    border: 1px solid var(--beige);
    vertical-align: middle;
}

th {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    color: var(--brown-2);
    text-align: left;
}

#edit-column {
    width:40px;
    box-sizing: border-box;
}

#delete-column {
    width: 40px; 
    box-sizing: border-box;
}

.delete-btn {
    display: flex;
    cursor: pointer;
}

.edit-btn {
    display: flex;
    cursor: pointer;
}

.delete-btn > svg, .edit-btn > svg {
    fill: var(--brown-1);
}

.delete-btn:hover > svg, .edit-btn:hover > svg {
    fill: var(--brown-1-hover);
}


.modal-backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    align-items: center;
    justify-content: center;
}

.modal {
    position: absolute;
    background-color: var(--cream);
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}

.modal-large {
    width: 95%;
    max-width: 1280px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
}

.modal-body {
    display: flex;
    padding: 16px 16px;
}

.modal-footer {
    display: flex;
    padding: 16px 16px;
    gap: 8px;
    justify-content: flex-end;
}

.edit-input-group {
    display: flex;
    gap: 8px;
    width: 100%;
}

#edit-name-input {
    width: 100%;
}

#edit-quantity-input {
    width: 120px;
}

#edit-type-input {
    width: 160px;
}

.close-modal-button {
    fill: var(--brown-1);
}

.close-modal-button:hover {
    fill: var(--brown-1-hover);
    cursor: pointer;
}

#toast-wrapper {
    position: fixed;
    bottom: -32px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px 16px;
    box-sizing: border-box;
    z-index: 2;
}

.toast-success {
    background-color: var(--success);
    color: var(--white);
    padding: 16px;
    border-radius: 8px;
    transform: translateY(-32px);
}

.toast-error {
    background-color: var(--error);
    color: var(--white);
    padding: 16px;
    border-radius: 8px;
    transform: translateY(-32px);
}

.shipping-calculate-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
    justify-content: center;
}

.shipping-calculate-input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.shipping-calculate-field {
    display: flex;
    flex-direction: column;
    max-width: 130px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.shipping-calculate-button {
    width: fit-content;
}

.shipping-calculate-table-wrapper {
    max-height: 600px;
    overflow: auto;
}

#shipping-calculate-table {
    display: none;
}

#postal-code-information-area {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content:center;
    width: 100%
}

.postal-code-information {
    font-weight: 400;
}